<h1>New Post</h1>

<%= form_for(:post, url: posts_create_path) do |f| %>
  <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_field :body %>

      <%= f.submit 'Submit' %>
    </div>
  </div>
<% end %>
